{% extends 'base.html' %}

{% block title %}
    Answer View
{% endblock %}

{% block content %}
    <div class="row" style="text-align: center;">
        <div class="col-12">
            <h1>{{ clue.entry.entry_text }}</h1>
            <p>{{ clue.clue_text }}</p>
            <p>Puzzle Title : {{ clue.puzzle.title }}</p>
            <p>ByLine : {{ clue.puzzle.byline }}</p>
            <p>Publisher : {{ clue.puzzle.publisher }}</p>
            <p>Date : {{ clue.puzzle.date }}</p>
        </div>
    </div>
{% endblock %}